@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}

h1{
    font-family: 'Yeseva One', cursive;
}

.board1{
    scale: 1.5;
}

.names{
    padding: 0.5rem;
    font-weight: 700;
}