<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/landing_page.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchDog</title>
</head>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="text-center pt-0 mt-0">
            <h1 class="display-2">WatchDog</h1>
            <h2>Your one stop solution for facial recognition services</h2>
        </div>
        <div class="row d-flex justify-content-start align-items-start h-100 w-50 mt-5">
          <form>
            
            <div class="form-outline mb-5">
                <label class="form-label" for="form3Example3">Username</label>
                <input type="text" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Enter username" required/>
            </div>

            <div class="form-outline mb-5">
                <input type="file" value="Upload Images" multiple required>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="#!"
                  class="link-danger">Add User</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</html>