<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/landing_page.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchDog - Dashboard</title>
</head>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-start align-items-center h-75">
        <div class="text-center pt-0 mt-0">
            <h1 class="display-3">WatchDog</h1>
            <h3>Your one stop solution for facial recognition services</h3>
        </div>
        <div class="text-center pt-0 mt-0">
            <h3 class="display-3">Dashboard:</h3>
        </div>
        <div class="col d-flex justify-content-evenly align-items-center h-25 w-25">
            <button type="button" class="board1 btn btn-outline-success btn-lg">Read Documentation</button>
            <a href="{{id}}/Register"><button type="button" class="board1 btn btn-outline-primary btn-lg">Add Users</button></a>
        </div>
      </div>
    </div>
  </section>
</html>